# === Python (Byte-compiled / optimized / venv) ===
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# === VS Code המלצות הגדרה מקומיות ===
.vscode/

# === testing & Coverage ===
.pytest_cache/
.coverage
htmlcov/

# === קבצי מערכת הפעלה מקומיים ===
.DS_Store
Thumbs.db

# === Python local settings ===
.mypy_cache/
.pydantic_mysteries/
*.pyc

# === IDE custom configurations ===
.idea/ 
*.suo
*.ntvs*